:root {
  box-sizing: border-box;
  padding: 1rem;
  line-height: 1.5;
  overflow-y: scroll;
  --site-font-sans: Helvetica, Arial, sans-serif;
  font-family: var(--site-font-sans);
}

body {
  max-width: 50rem;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

footer {
  margin-top: 1rem;
}

.emoji {
  color: transparent;
  text-shadow: 0 0 0 var(--bit-color0);

}

.site-columns-auto {
  --grid-gap: 1rem;
  --grid-min: 12rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-min), 1fr));
  grid-gap: var(--grid-gap);
}

.bit-root {
  --bit-color0: #666666;
  --bit-color1: #eeeeee;
}

@media (prefers-color-scheme: dark) {
  .bit-root {
    --bit-color0: #eeeeee;
    --bit-color1: #666666;
  }
}
